## Modelling Notebook

This notebook is to be used for testing out the various models that you want to use. No preprocessing will be done in this notebook. Steps:

1. Read in `data/final_data.csv` that you created in the `Data Cleaning.ipynb`
2. Try various models and print appropriate metrics (accuracy/MSE etc)
3. Pick a final model and save it as `models/model.pkl`

Importing necessary Libraries

In [1]:
import numpy as np 
import pandas as pd

In [2]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import re
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import seaborn as sns

In [14]:
df=pd.read_csv(r"C:\Users\subra\Downloads\finaldataset_laptop_price.csv")
df.head()

,Unnamed: 0,Company,TypeName,Ram,Weight,Touchscreen,Ips,ppi,Cpu brand,HDD,SSD,Gpu brand,Price,os
0,0,Apple,Ultrabook,8,1.37,0,1,226.983005,Intel Core i5,0,128,Intel,117263.0657,Mac
1,1,Apple,Ultrabook,8,1.34,0,0,127.677940,Intel Core i5,0,0,Intel,78684.2182,Mac
2,2,HP,Notebook,8,1.86,0,0,141.211998,Intel Core i5,0,256,Intel,50329.7500,Others/No OS/Linux
3,3,Apple,Ultrabook,16,1.83,0,1,220.534624,Intel Core i7,0,512,AMD,222102.9985,Mac
4,4,Apple,Ultrabook,8,1.37,0,1,226.983005,Intel Core i5,0,256,Intel,157869.1080,Mac